/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


.btn {
    @apply bg-[#3c404b] hover:bg-[#4f535e] cursor-default rounded-[4px] w-full text-sm text-white py-2 px-2
}